name: Nodejs base images pipeline

trigger:
  batch: true
  branches:
    include:
      - master
  paths:
    exclude:
      - README.md

pr:
  - master

strategy:
  matrix:
    alpine-node-8:
      imageDockerfilePath: 8/alpine/Dockerfile
      imageName: hmcts/base/node/alpine-lts-8
    alpine-node-10:
      imageDockerfilePath: 10/alpine/Dockerfile
      imageName: hmcts/base/node/alpine-lts-10
    stretch-slim-node-8:
      imageDockerfilePath: 8/stretch-slim/Dockerfile
      imageName: hmcts/base/node/stretch-slim-lts-8
    stretch-slim-node-10:
      imageDockerfilePath: 10/stretch-slim/Dockerfile
      imageName: hmcts/base/node/stretch-slim-lts-10

jobs:
  - template: templates/jobs.yml
